<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-danger"%>
      <%= link_to 'Back', restaurants_path, class: "btn btn-danger" %>

      <h1><%= @restaurant.name %></h1>
      <small><%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></small>

      <ul>
        <li>Address: <strong><%= @restaurant.address %></strong></li>
        <li>Phone Number: <strong><%= @restaurant.phone_number %></strong></li>
        <li>Categories: <strong><%= @restaurant.category %></strong></li>
      </ul>
      <h1>All reviews</h1>
      <% @restaurant.reviews.each do |review| %>
          <li>
            <%= review.content%>
            <%= review.rating%>
          </li>
          <%end%>



      <h1>Add a Review</h1>

      <%= simple_form_for [@restaurant, @review] do |f| %>
      <%= f.input :rating %>
      <%= f.input :content %>
      <%= f.submit 'submit review', class:'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
